<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--login modal-->
    <div ng-controller="controller_login as login">
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" ng-show="login.showPanel">
            <div class="modal-dialog">
                <div class="modal-content">

                    <ul class="nav nav-tabs nav-justified">
                        <li id="tab_sign_in" role="presentation" ng-click="login.onchange_Sign_in()"><a>Sign in</a></li>
                        <li id="tab_sign_up" role="presentation" ng-click="login.onchange_Sign_up()" class="active"><a>Sign up</a></li>
                    </ul>

                    <dynamic-directive element-name="{{current_dialog}}"></dynamic-directive>
                </div>
            </div>
        </div>
    </div>
</body>
</html>